
body {
	font-size: 0.85em;
}

#wrapper {
	width: 1140px;
	margin: 0 auto;
	height: auto;
	position: relative;
	padding-bottom:50px;

	#login-wrapper, 
	#register-wrapper {
		width: 220px;
		width: 800px;
		height: auto;	
		margin: 50px auto 50px;
		border-radius: 3px; 
		padding: 20px;
		display: block;

		label {

		}

		input[type="submit"] {
			float:right;
		}

		.help-block {
			/*color: #666;*/
		}

		.input-append {

			.add-on {
				/*color:#333;*/
				border-radius: 0 3px 3px 0;
			}
		}

		.input-prepend, 
		.input-append {

			button {
				height: 31px;
				padding-top:5px;				
			}
		}
	}

	#register-wrapper {
		width: 300px;
		width: 800px;
		height:auto;

		input[type="text"], 
		input[type="email"], 
		input[type="password"] {
			/*width: 285px;*/
		}
	}

	#home {

		code {
			margin-bottom:25px;  
			width: 97.75%;
			float: left;
			padding: 2px 1%;
			font-size: 12px;
		}
	}	
}

.hero-unit {
	margin: 20px 0;
	padding-top:57px;
	padding-bottom: 57px;
	opacity: .25;

	h1 {
		color: #000;
	}

	h3 {
		font-size: 21.5px;
		padding-left: 4px;	
		color: #555;
		line-height: 20px;	
	}
}



#timer {
	padding: 0 60px;
}  

.table {

	caption {
		font-weight: bold;
		font-size: 1.2em;
		margin: 0 0 5px 0;
		text-align: left;
		padding: 5px;
	}
}

table td, 
table th {
	font-size: .85em;
}

/*#debug {
	position: fixed; 
	bottom:0;
	background: #FFFFFF;
	width: 100%;
	display: block;

	.toggle {
		width: 16px;
		height:16px;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav-tabs {
		background-color: #f4f4f4;
		border-top: 1px solid #ddd; 
	}

	.nav-tabs > li > a {
		border-radius: 0;
		-webkit-border-radius:0;
		border-top: 0;
	}

	.tab-content {
		display: none;

		.tab-pane {
			height: 400px;
			overflow: auto;
			width: 98%;
			padding: 15px 1%;
		}		
	}
}

body {
	padding-bottom:100px;
}*/